body, html{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: purple;
}
/*
  ========================================
  index html container
  ========================================
*/

#container {
  height: 100%;
  width: 100%;
  
}

/*
  ========================================
  main app container
  ========================================
*/
.appContainer {
  padding-top: -30px;
  height: 100%;
  width: 100%;
  background-color: green;
}


/*
  ========================================
  Navigation styles
  ========================================
*/
#header {
  width: 100%;
  height: 30%;
  margin: 0px
  padding: 0px;
  background-color: yellow;
}




/*
  ========================================
  Clearfix
  ========================================
*/

.clear {
  clear: both;
}


/*
  ========================================
  Buttons
  ========================================
*/



/*
  ========================================
  home styling
  ========================================
*/
.homeContainer {
  height: 70%;
  width: 100%;
  margin: 0px
  padding: 0px;
  background-color: orange;
}


/*
  ========================================
  wedding planer home styling
  ========================================
*/



